body, #app{
  min-height:       100%;
  background-color: #F6F6F6;
  font-family:      "Microsoft JhengHei", serif;
  font-size: 100%
}

 button, label, option, a, tr, th, td, btn,
.button, .label, .option, .a, .tr, .th, .td, .btn{
  font-family: "Microsoft JhengHei", serif !important;
  margin:      0;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, tr, th, td, li,
.h1, .h2, .h3, .h4, .h5, .h6, .tr, .th, .td, .li{

  font-size: 120%;
}


.main-header .logo{
  font-family: "Microsoft JhengHei", serif;
}
.error{
  color: red;
}